
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <h1 class="text-success text-uppercase">Welcome</h1>
        <h3>Your Probation Period is Completed</h3>
        <a class="btn btn-danger" asp-controller="Home" asp-action="Index">Back</a>
    </div>
</div>
