html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-link {
    text-decoration: none;
}

    .card-link:hover {
        text-decoration: none;
    }

.hover-card {
    color: white;
    background-color: #5C469C;
    transition: all 0.3s;
    cursor: pointer;
}

.hover-card:hover {
        color: yellow;
        background-color: #1D267D;
    }
