<div class="container text-center">
    <h1>Your Account is successfully verified</h1>
    <form method="post">
        <a asp-controller="Auth" asp-action="Login" class="btn btn-success">Login</a>
    </form>
</div>
