@using static AutoMobile.Application.ApplicationContants.ApplicationConstant;
@model ApplicationUserDto

<div class="container mt-3">
    <h1>Change User Role</h1>
    <br />
    <form method="post">
        <input asp-for="Id" hidden/>
        <div class="mb-3">
            <label class="form-label">First Name</label>
            <input class="form-control" asp-for="FirstName" disabled>
        </div>
        <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input class="form-control" asp-for="LastName" disabled>
        </div>
        <div class="mb-3">
            <label class="form-label">Email Address</label>
            <input class="form-control" asp-for="Email" disabled>
        </div>
        <div class="mb-3">
            <select class="form-select" asp-for="Role">
                <option value="@CustomRole.User">USER</option>
                <option value="@CustomRole.PremiumUser">PREMIUM USER</option>
            </select>
        </div>
        <div>
            <a asp-controller="Auth" asp-action="GetUsers" class="btn btn-danger">Back</a>
            <button type="submit" class="btn btn-warning">Update</button>
        </div>
    </form>
</div>