
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <h1 class="text-danger text-uppercase">UnAuthorized</h1>
        <h3>You are still in probation period</h3>
        <a class="btn btn-danger" asp-controller="Home" asp-action="Index">Back</a>
    </div>
</div>
