<div class="container text-center text-uppercase mt-5">
    <h1>Account Verification Mail is sent to your email please verify before access the system</h1>
    <br />
    <a class="btn btn-success" asp-controller="Auth" asp-action="Login">Login</a>
</div>
