@model RegisterationRequestDto

<div class="container mt-4 mb-4 border rounded border-2 p-4" style="background-color:rgba(0,0,0,0.1)">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h3 class="text-primary text-center text-uppercase">Register</h3>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="FirstName" class="form-label"></label>
                    <input asp-for="FirstName" class="form-control rounded" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="LastName" class="form-label"></label>
                    <input asp-for="LastName" class="form-control rounded" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control rounded" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control rounded" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button class="btn btn-success" type="submit">Register</button>
                    <a class="btn btn-primary" asp-controller="Auth" asp-action="Login">Login</a>
                </div>
            </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}